In [12]:
# Importar las librerías necesarias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [36]:
# Importamos los datos
df = pd.read_csv('datos_filtrados.csv')

In [37]:
# Calcular los cuantiles y convertir a tipo de datos float o int
minimo = df['punt_global'].min()
primer_cuantil = df['punt_global'].quantile(0.25)
segundo_cuantil = df['punt_global'].quantile(0.5)
tercer_cuantil = df['punt_global'].quantile(0.75)
maximo = df['punt_global'].max()

# Definir los bordes de los rangos
bordes = [minimo, primer_cuantil, segundo_cuantil, tercer_cuantil, maximo]


# Construir los nombres de los rangos
nombres_rangos = [f'Rango de {bordes[i]} a {bordes[i+1]}' for i in range(len(bordes)-1)]

# Categorizar la columna 'punt_global' en rangos
df['punt_global'] = pd.cut(df['punt_global'], bins=bordes, labels=nombres_rangos, include_lowest=True)

In [38]:
df

,cole_depto_ubicacion,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_global
0,VALLE,Estrato 3,9 o más,Si,Si,No,No,Rango de 238.0 a 293.0
1,VALLE,Estrato 5,3 a 4,Si,Si,Si,Si,Rango de 238.0 a 293.0
2,VALLE,Estrato 1,3 a 4,No,No,No,Si,Rango de 48 a 238.0
3,VALLE,Estrato 6,5 a 6,Si,Si,Si,Si,Rango de 293.0 a 337.0
4,CUNDINAMARCA,Estrato 4,3 a 4,Si,Si,Si,Si,Rango de 337.0 a 476
...,...,...,...,...,...,...,...,...
18418,VALLE,Estrato 5,3 a 4,Si,Si,Si,Si,Rango de 337.0 a 476
18419,VALLE,Estrato 4,3 a 4,Si,Si,Si,Si,Rango de 293.0 a 337.0
18420,CAUCA,Estrato 3,5 a 6,No,No,Si,Si,Rango de 48 a 238.0
18421,BOGOTÁ,Estrato 3,7 a 8,Si,Si,Si,Si,Rango de 48 a 238.0
18422,CUNDINAMARCA,Estrato 4,3 a 4,Si,Si,Si,Si,Rango de 238.0 a 293.0

In [39]:
df.to_csv('datos_cat.csv', index=False)