## Importar base de datos

In [2]:
# Importar las librerías necesarias
import pandas as pd

In [7]:
df = pd.read_csv('datos_filtrados.csv')
df.head()

,cole_depto_ubicacion,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_global
0,VALLE,Estrato 3,9 o más,Si,Si,No,No,274
1,VALLE,Estrato 5,3 a 4,Si,Si,Si,Si,270
2,VALLE,Estrato 1,3 a 4,No,No,No,Si,222
3,VALLE,Estrato 6,5 a 6,Si,Si,Si,Si,305
4,CUNDINAMARCA,Estrato 4,3 a 4,Si,Si,Si,Si,359

In [15]:
# Verificamos que no tenga punt_global vacíos
cont = 0
for i in range(0, (len(df['punt_global'])-1)):
    if df["punt_global"][i]=='NaN':
        cont += 1
if cont == 0:
    print('Súper! No hay valores vacíos.')
else:
    print('Ojo: Hay valores vacíos.')

Súper! No hay valores vacíos.

In [18]:
df['cole_depto_ubicacion'].unique()

array(['VALLE', 'CUNDINAMARCA', 'ANTIOQUIA', 'BOGOTÁ', 'CAUCA',
       'RISARALDA', 'SANTANDER', 'QUINDIO', 'NARIÑO', 'ATLANTICO',
       'SUCRE', 'CALDAS', 'META', 'MAGDALENA', 'CASANARE', 'BOLIVAR',
       'NORTE SANTANDER', 'LA GUAJIRA', 'CESAR', 'TOLIMA', 'BOYACA',
       'GUAINIA', 'CORDOBA', 'HUILA', 'ARAUCA', 'PUTUMAYO', 'CHOCO',
       'CAQUETA'], dtype=object)