## Importar base de datos

In [ ]:
# Importar las librerías necesarias
import pandas as pd

In [38]:
df = pd.read_csv('Resultados__nicos_Saber_11.csv')
df

,PERIODO,FAMI_ESTRATOVIVIENDA,FAMI_PERSONASHOGAR,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,PUNT_GLOBAL
0,20221,Estrato 4,1 a 2,Si,Si,Si,284
1,20221,Estrato 6,3 a 4,Si,Si,Si,289
2,20221,Estrato 4,1 a 2,Si,Si,Si,293
3,20221,Estrato 3,1 a 2,Si,Si,Si,173
4,20221,Estrato 3,3 a 4,Si,Si,Si,315
...,...,...,...,...,...,...,...
18431,20221,Estrato 1,3 a 4,No,Si,Si,232
18432,20221,Estrato 6,3 a 4,Si,Si,Si,284
18433,20221,Estrato 1,7 a 8,No,Si,Si,233
18434,20221,Estrato 6,5 a 6,Si,Si,Si,315
18435,20221,Estrato 2,5 a 6,Si,Si,Si,190

In [40]:
# Nombre de la tabla
table = "tabla_data_final"

# Generar el script SQL manualmente para data_mod
script = "CREATE TABLE {} (\n".format(table)

for col in df.columns:
    script += "    {} VARCHAR(255),\n".format(col.replace('\'', ''))

script = script.rstrip(",\n") + "\n);\n\n"

script += "COPY {} (".format(table)

for col in df.columns:
    script += "{}, ".format(col)
script = script.rstrip(", ")
script += ") FROM stdin;\n"

for i in range(df.shape[0]):
    row = "\t".join([str(x) for x in df.iloc[i]])  # Crear una fila como una cadena de texto separada por tabulaciones
    script += "{}\n".format(row)

script += "\\."

# Guardar el script SQL en un archivo
with open('data_proyecto.sql', 'w') as file:
    file.write(script)